<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Magnon Button Demo</title>

        <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

        <script type="module" src="./magnon-button.js"></script>
        <script type="module" src="../../src/demo-fixture.js"></script>
        <script nomodule defer src="../../out/demo.js"></script>
    </head>
    <body>
        <demo-fixture>
            <magnon-button onclick="alert('click! :D')">
                Hello, World!
            </magnon-button>
        </demo-fixture>
    </body>
</html>
