<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Magnon Icon Button Demo</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

        <script type="module" src="./magnon-icon-button.js"></script>
        <script type="module" src="../../src/demo-fixture.js"></script>
        <script nomodule defer src="../../out/demo.js"></script>
    </head>
    <body>
        <demo-fixture>
            <magnon-icon-button icon="check" size="24px"></magnon-icon-button>
        </demo-fixture>
    </body>
</html>
