<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Magnon Social Buttons Demo</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

        <script type="module" src="./magnon-social-buttons.js"></script>
        <script type="module" src="../../src/demo-fixture.js"></script>
        <script nomodule defer src="../../out/demo.js"></script>
    </head>
    <body>
        <demo-fixture>
            <magnon-gplus-button user="MagnonNet"></magnon-gplus-button>
            <magnon-twitter-button user="theMagnon"></magnon-twitter-button>
            <magnon-twitch-button user="themagnon"></magnon-twitch-button>
            <magnon-youtube-button user="Magnon" id="UCZlenKi3wRj3Usc3cXTsA2Q"></magnon-youtube-button>
            <magnon-github-button user="theMagnon"></magnon-github-button>
        </demo-fixture>
    </body>
</html>
