<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Magnon Switch Demo</title>

        <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

        <script type="module" src="./magnon-switch.js"></script>
        <script type="module" src="../../src/demo-fixture.js"></script>
        <script nomodule defer src="../../out/demo.js"></script>
    </head>
    <body>
        <demo-fixture>
            Normal:
            <magnon-switch></magnon-switch><br>
            Disabled:
            <magnon-switch></magnon-switch><br>
        </demo-fixture>
    </body>
</html>
