<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Magnon Progress Bar Demo</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="../../node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>

        <script type="module" src="./magnon-progress-bar.js"></script>
        <script type="module" src="../../src/demo-fixture.js"></script>
        <script nomodule defer src="../../out/demo.js"></script>
    </head>
    <body><demo-fixture>
            <style>
                magnon-progress-bar {
                    width: 50vw;
                    margin: 100px;
                }
            </style>

            <magnon-progress-bar progress="100"></magnon-progress-bar>
            <magnon-progress-bar progress="50"></magnon-progress-bar>
            <magnon-progress-bar></magnon-progress-bar>
        </demo-fixture>

        <script>
            const bar = document.querySelector("magnon-progress-bar");
            let mod = 1;
            const add = () => {
                bar.progress += 1 * mod;
                if (bar.progress > 100 || bar.progress < 0) mod *= -1;
                requestAnimationFrame(add);
            };
            add();
        </script>
    </body>
</html>
